@import "tailwindcss";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  --background: #ffffff;
  --background2: #f7f7f7;
  --foreground: #24211f;
  --txt: #171717;
  --primary: #ef4444;
  --secondary: #3b82f6;
  --title1: #d1b7a1;
  --countBox: #fafafa;
  --countTxt: #555555;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--foreground);
  color: var(--foreground);
  font-family: "Noto Serif KR", sans-serif;
}

.font-noto {
  font-family: "Noto Serif KR", serif;
}
.font-parisienne {
  font-family: "Parisienne", cursive;
}
.font-nanum-pen {
  font-family: "Nanum Pen Script", cursive;
}

.lg-close {
  opacity: 1 !important;
  z-index: 9999 !important;
  position: relative !important;
}

.custom-gradient {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 16rem;
  pointer-events: none;
  background: linear-gradient(
    to top,
    #3f3937 0%,
    rgba(63, 57, 55, 0.85) 40%,
    rgba(63, 57, 55, 0.5) 70%,
    transparent 100%
  );
}
